<h3>Article <%= @article.id %></h3>
<p>
	Title: <%= @article.title %>
</p>
<br>
<p>
	Text: <%= @article.text %>
</p>
<br>
<p>
	Created: <%= @article.created_at %>
</p>

 
 <%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		Author<br>
		<%= f.text_field :author %>
	</p>
	<p>
		Text<br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
			
	</p>

<% end %>